.header {
  display: block;

  padding: 24px;

  font-size: 32px;
  line-height: 32px;

  background-color: white;

  border-radius: 8px;
}

.list {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}